{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Transakcije</h2>

    <a href="{% url 'transaction_create' %}" class="btn-primary">+ Nova transakcija</a>

    <form method="get" class="searchbar">
        <input type="text" name="q" placeholder="Pretraži po opisu..." value="{{ request.GET.q }}">
        <button type="submit" class="btn-outline">Traži</button>
    </form>

    <ul class="list">
        {% for t in transactions %}
            <li class="list-item">
                <div>
                    <strong>{{ t.datum }}</strong> – {{ t.iznos }} € <br>
                    <small>{{ t.category.naziv }} | {{ t.account.naziv }}</small><br>
                    {{ t.opis }}
                </div>
                <div>
                    <a href="{% url 'transaction_update' t.pk %}" class="btn-outline">Uredi</a>
                    <a href="{% url 'transaction_delete' t.pk %}" class="btn-danger">Obriši</a>
                </div>
            </li>
        {% empty %}
            <li>Nema transakcija.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}